  <div id="main_map"></div>

  <script type="text/javascript">
      var mymap = L.map('main_map').setView([
          <%= @treasuremap_location["lat"]%>, <%= @treasuremap_location["lon"]%>
      ], <%= @treasuremap_location["zoom"] %>);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'bentopi.0m113af1',
          accessToken: 'pk.eyJ1IjoiYmVudG9waSIsImEiOiJjaXFueDZhamwwMWNmZnlubmN3Mjkwa2N3In0.KDH8Lcc77hResaVfMezoJA'
      }).addTo(mymap);

      <% @treasuremap.photos.each do |photo|%>
      L.marker([<%= photo.latitude %>, <%= photo.longitude %>]).addTo(mymap).bindPopup

      ("<a href='/treasuremaps/<%=photo.treasuremap.id%>/photos/<%=photo.id%>'><%=photo.description%></a>");
      <% end %>
  </script>



  <div class="new-photo">
  <%= link_to "Upload Burrito!", new_photo_path %>
  </div>
